@import "../../stylesheets/variables.scss";
@import "../../stylesheets/mixins.scss";

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  inset: 0;
  background: rgba(26, 26, 26, 0.6);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  backdrop-filter: blur(7px);
  transition: visibility 0.2s, opacity 0.2s linear, backdrop-filter 0.2s linear;
  @include flex(row, center, center);

  &_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0, opacity 0.2s linear, backdrop-filter 0.2s linear;
  }

  &__box {
    inline-size: 260px;
    aspect-ratio: 1/1;
    @include flex(row, center, center);
    border-block-end: 20px solid #ef3124;
    border-block-start: 20px solid #ef3124;
    border-radius: 50%;
    animation: rotation 3s linear infinite;
  }

  &__icon-wrap {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}