@use "../../stylesheets/variables" as *;
@use "../../stylesheets/mixins" as *;

.card {
  @include flex(column, center, center, 22px);
  @include indents(22px, 0);
  position: relative;
  box-sizing: border-box;
  border-radius: $xl-border-radius;
  box-shadow: 2px 2px 5px rgba(95, 99, 104, 0.15),
    -1px -1px 5px rgba(95, 99, 104, 0.07);
}

.big {
  @include size(304px, 484px);
}

.small {
  @include size(244px, 391px);
  gap: 16px;
}

@mixin foto($radius) {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: $radius;
}

.avatar {
  @include foto($border-radius-circle);
}

.logo {
  @include foto(0);
}

.icon {
  @include button-style-reset;
  @include position(absolute, $top: 15px, $left: 15px);
}

.wrapperIcons {
  @include flex(row, center, center, 16px);
}

.wrapperText {
  @include flex(column, center, center, 4px);
  @include size(188px, 88px);
}

.box_achievement {
  @include size(48px, 48px);
  @include flex(row, center, center);
  box-shadow: 2px 2px 5px rgba(95, 99, 104, 0.15),
    -1px -1px 5px rgba(95, 99, 104, 0.07);
}

@mixin text($p, $m, $weight) {
  text-align: center;
  @include indents($p, $m);
  @include font("Arial", $l-font-size, $weight);
}

.appointment {
  @include text(0, 0, $normal);
}

.name {
  @include text(0, 0, $bold);
}