 @import "../../stylesheets/variables.scss";
 @import "../../stylesheets/mixins.scss";

 .info-popup {
   @include flex(row, center, center);
   position: fixed;
   inset: 0;
   background: rgba(26, 26, 26, 0.40);
   visibility: hidden;
   opacity: 0;
   transition: visibility 0.2s, opacity 0.2s linear;

   &_opened {
     visibility: visible;
     opacity: 1;
     transition: visibility 0, opacity 0.2s linear;
   }

   &__content-box {
     @include flex(column, space-between, flex-end);
     box-sizing: border-box;
     block-size: calc(100dvb - 120px);
     max-block-size: 604px;
     inline-size: calc(100dvi - 40px);
     max-inline-size: 955px;
     background-color: #fff;
     margin-block-end: 100px;
     border-radius: 34px;
     overflow: hidden;
     background-position: left; 
     background-size: cover;
     background-repeat: no-repeat;
   }

   &__close-button {
     @include button-style-reset;
     inline-size: 24px;
     block-size: 24px;
     background-color: transparent;
     margin: 40px;
     transition: opacity .4s;

     &:hover {
       opacity: 0.6;
     }
   }

   &__close-button-icon {
     fill: #0E0E0E;
   }

   .info-popup__text-box {
     @include font($info-popup-font-family,
       $info-popup-font-size,
       $info-popup-font-weight,
       $color: inherit);
     @include line-sizes($info-popup-line-height);
     margin: 80px;
     inline-size: 334px;
   }
 }