/* Переменные жирности шрифта */
$bold: 600;
$semi-bold: 500;
$normal: 400;

/* Переменные размеров шрифта */
$xxl-font-size: 24px;
$l-font-size: 18px;
$s-font-size: 14px;

/* Переменные параметров шрифта информационного попапа */
$info-popup-font-family: Arial;
$info-popup-font-size: 48px;
$info-popup-font-weight: 700;
$info-popup-line-height: normal;