/* Переменные жирности шрифта */
$bold: 600;
$semi-bold: 500;
$normal: 400;

/* Переменные размеров шрифта */
$xxl-font-size: 24px;
$l-font-size: 18px;
$m-font-size: 16px;
$s-font-size: 14px;
$xs-font-size: 12px;

/* Переменные радиуса скругления */
$xl-border-radius: 33px;
$l-border-radius: 12px;
$m-border-radius: 8px;
$s-border-radius: 4px;
$border-radius-circle: 50%;
