@use "../../stylesheets/variables" as *;
@use "../../stylesheets/mixins" as *;

.container {
  width: 950px;
  border-radius: $xl-border-radius;
  box-shadow: -1px -1px 5px 0px rgba(95, 99, 104, 0.07),
    2px 2px 5px 0px rgba(95, 99, 104, 0.15);
  @include indents(42px, 0);
}

.link {
  @include flex(row, start, start);
  @include indents(5px 0 0, 0);
  height: 26px;
}

.wrapper {
  width: 552px;
  display: flex
}

.wrapper__task {
  @include flex(column, start, start, 16px);
  width: 552px;
}

.rating__box {
  @include flex(row, center, center);
}

.wrapper_button {
  @include flex (row, space-between, start, 16px);
}