@use "../../stylesheets/variables" as *;
@use "../../stylesheets/mixins" as *;

.page {
  // @include flex(column, start, center, 10px);
  background-color: #FFFFFF;
  width: 100%;
}

.container {
  @include flex(column, start, start, 40px);
  width: 950px;
  min-height: 597px;
  border-radius: $xl-border-radius;
  box-shadow: -1px -1px 5px 0px rgba(95, 99, 104, 0.07),
    2px 2px 5px 0px rgba(95, 99, 104, 0.15);
  @include indents(42px, 0);
}

.wrapper {
  @include flex (row, space-between, start, 20px);

  &__button{
    @include flex (row, space-between, start, 16px);
    padding-left: 286px;
  }
}


.link{
  @include flex(row, start, start); 
  @include indents(5px 0 0, 0);
}