@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.deadline {
    @include style-text-reset;
    @include flex(column, flex-end, center, 31px);
    padding: 14px;
    position: relative;
    min-width: 314px;
    min-height: 168px;
    border-radius: 10px;
    box-shadow: -1px -1px 5px 0px rgba(95, 99, 104, 0.07), 2px 2px 5px 0px rgba(95, 99, 104, 0.15);

    &__title {
        color: #0E0E0E;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 66px;
    }

    &__description {
        color: #6A6B74;
        font-size: $s-font-size;
        font-weight: $normal;
        line-height: 18px;
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}