@use "../../stylesheets/variables" as *;
@use "../../stylesheets/mixins" as *;


.title_empty_box {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}

.title_empty {
  margin: 0;
  @include font($listIpr__title_empty-font-family,
    $listIpr__title_empty-font-size,
    $listIpr__title_empty-font-weight,
    $listIpr__title_empty-font-color );
  @include line-sizes($listIpr__title_empty-line-height);
  text-align: center;
}