*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100%;
  background: #fff;
}
.container {
  max-width: 955px;
}