.progress-bar-container {
    width: 100%;
    height: 36px;
    background-color: #E7E8EA;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.progress-bar-background {
    width: 100%;
    height: 100%;
    background-color: #E7E8EA;
}

.progress-bar {
    height: 100%;
    background-color: #EF3124;
    transition: width 0.3s ease-in-out;
}

.progress-bar-span {
    font-weight: 700;
    font-size: 18px;
    color: white;
    top: 0;
    left: 0;
    transform: translate(-50%, 30%);
    position: absolute;
}