@use "../../../stylesheets/variables" as *;
@use "../../../stylesheets/mixins" as *;

.button {
  @include button-style-reset;
  @include flex(row, center, center);
  @include font("Arial", $l-font-size, $normal);
  @include line-sizes(21px, 1px);
  transition: all 0.1s linear;
  border-radius: 12px;
}

.red {
  background-color: #ef3124;
  color: #fff;

  &:disabled {
    background-color: #f3f4f5;
    color: #aaaaad;
  }

  &:not([disabled]):hover {
    background-color: #e32a16;
  }
}

.white {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;

    &:disabled {
    background-color: #fff;
    color: #aaaaad;
    border: 1px solid #F3F4F5;
  }

  &:not([disabled]):hover {
    background-color: #EEEEEE;
  }
}

.black {
  background-color: #0e0e0e;
  color: #fff;

  &:disabled {
    background-color: #f3f4f5;
    color: #aaaaad;
  }

  &:not([disabled]):hover {
    background-color: #414143;
  }
}

.grey {
  background-color: #e7e8ea;
  color: #000;

  &:disabled {
    background-color: #f3f4f5;
    color: #aaaaad;
  }

  &:not([disabled]):hover {
    background-color: #D3D5D6;
  }
}
